{% extends 'layout.html' %}

{% block body %}

<h1>Spendings</h1>

<table>
    <tr>
        <th>Date</th>
        <th>Category</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Actions</th>
    </tr>
    {% for spending in spendings %}
        <tr>
            <td>{{ spending['date'] }}</td>
            <td>{{ spending['category'] }}</td>
            <td>{{ spending['description'] }}</td>
            <td>{{ spending['amount'] }}</td>
            <td>
                <ul>
                    <li><a onclick="return confirm('are you sure?')" href="/spendings/delete?rowid={{ spending['rowid'] }}">Delete</a></li>
                </ul>
            </td>
        </tr>
    {% endfor %}

</table>

{% endblock %}
