{% extends 'layout.html' %}

{% block body %}

<h1>New Spendings</h1>

<form method="POST" class="pure-form pure-form-aligned" action="/spendings/">
    <fieldset>

        <div>
            <label for="spendings">Paste your spendings:</label>
            <textarea
                    style="max-width: 100%; width: 100%; height: 800px;" id="spendings" name="spendings" placeholder="">yo</textarea>
        </div>
    </fieldset>

    <button type="submit" class="pure-button pure-button-primary">Submit</button>
</form>

{% endblock %}