{% extends 'layout.html' %}

{% block body %}

<h1>New Spendings</h1>

<form method="POST" class="" action="/spendings/">
    <fieldset>

        <div class="form-field">
            <label for="spendings">Paste your spendings (one per line):</label>
            <div>
                <textarea
                        style="max-width: 100%; width: 100%; height: 500px;" id="spendings" name="spendings" placeholder=""></textarea>
            </div>
        </div>
    </fieldset>

    <button type="submit">Submit</button>
</form>

{% endblock %}