{% extends 'layout.html' %}

{% block body %}

<h1>Submission</h1>

<form method="POST" class="pure-form pure-form-aligned" action="/spendings/submit">
    {% for entry in result %}
        <fieldset>
            <div>
                <b>
                    {{ entry['id'] }}

                    {% if entry['status'] == 'success' %}
                        <span style="color: green;">Valid</span>
                    {% else %}
                        <span style="color: red;">No match</span>
                    {% endif %}
                </b>
                <br /><br />
            </div>
            <div class="form-field">
                <label for="{{ entry['id'] }}_rule_pattern">Rule pattern (<a target="_blank" href="/spendings/rules">see all rules</a>):</label>
                <div>
                    <input type="text"
                           id="{{ entry['id'] }}_rule_pattern"
                           name="submission[{{ entry['id'] }}][rule_pattern]"
                           value="{{ entry['result']['rule'] }}"
                           placeholder="" />
                    <div>
                        Example:
                        <pre>{"pattern": "^begin (\\d+) (.{3}) (\\d+) test (\\d+.\\d+)$", "variable_positions": {"day": 0, "month": 1, "year": 2, "amount": 3}}</pre>
                    </div>
                </div>
            </div>
            <div class="form-field">
                <label for="{{ entry['id'] }}_category">Category*:</label>
                <div>
                    <select required id="{{ entry['id'] }}_category" name="submission[{{ entry['id'] }}][category]">
                        {% for category in categories %}
                        <option value="{{ category }}"
                                {% if entry['result']['category'] == category %}
                        selected
                        {% endif %}
                        >
                        {{ category }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <input type="text" name="submission[{{ entry['id'] }}][new_category]" value="" placeholder="or create a new category" />
                </div>
            </div>
            <div class="form-field">
                <label for="{{ entry['id'] }}_date">Date*:</label>
                <div>
                    <input required type="date"
                           id="{{ entry['id'] }}_date"
                           name="submission[{{ entry['id'] }}][date]"
                           value="{{ entry['date'] }}"
                           placeholder="" />
                </div>
            </div>
            <div class="form-field">
                <label for="{{ entry['id'] }}_description">Description*:</label>
                <div>
                    <input required type="text"
                           id="{{ entry['id'] }}_description"
                           name="submission[{{ entry['id'] }}][description]"
                           value="{{ entry['line'] }}"
                           placeholder="" />
                </div>
            </div>
            <div class="form-field">
                <label for="{{ entry['id'] }}_amount">Amount:</label>
                <div>
                    <input required type="text"
                           id="{{ entry['id'] }}_amount"
                           name="submission[{{ entry['id'] }}][amount]"
                           value="{{ entry['result']['amount'] }}"
                           placeholder="" />
                </div>
            </div>
            <div>
                <hr />
            </div>
        </fieldset>
    {% endfor %}

    <input type="hidden" name="nb_submissions" value="{{ nb_submissions }}" />
    <button type="submit" class="pure-button pure-button-primary">Submit</button>
</form>

{% endblock %}
