
.form-field {
    margin-bottom: 1.5rem;

}

.form-field input {
  border-radius: 20px;
  border: 1px solid #2d9fd9;
  font-size: 24px;
  padding: 10px;
  width: 90%;
}

.form-field textarea {
  border-radius: 20px;
  border: 1px solid #2d9fd9;
  font-size: 24px;
  padding: 10px;
}

.form-field select {
  border-radius: 20px;
  border: 1px solid #2d9fd9;
  font-size: 24px;
  padding: 10px;
  width: 92%;
}

.form-field label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

form button {
    background-color: #2d9fd9;
    border: 1px solid #2d9fd9;
    border-radius: 20px;
    color: #fff;
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #2d9fd9;
    padding: 10px;
    text-align: left;
    font-size: 24px;
}

th {
    font-weight: bold;
    background-color: #2d9fd9;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: #2d9fd9;
    text-decoration: none;
    font-size: 24px;
}

a:hover {
    color: #1a6b99;
    text-decoration: underline;
}

