{% extends 'layout.html' %}

{% block body %}

<p>
    <a href="/spendings/latest">Latest Spendings</a> | <a href="/spendings/new">Add new spendings</a>
</p>

<form method="GET" class="pure-form pure-form-aligned" action="/">
    <div>
        <div>
            <label for="begin_date">Begin date:<br /></label>
            <input type="date" id="begin_date"
                   name="begin_date"
                   placeholder="Begin date"
                   value="{{ begin_date }}" />
        </div>
        <div>
            <label for="end_date">End date:<br /></label>
            <input type="date" id="end_date" name="end_date" placeholder="End date" value="{{ end_date }}" />
        </div>
    </div>

    <div>
        <hr />
        <input style="width: 100px;" type="submit" value="Submit" />
        <hr />
    </div>
</form>

<div id="container-current-month">

</div>

<script>
    Highcharts.chart('container-current-month', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        useHTML: true,
        text: 'Current month spendings (Total: {{ monthly_spendings['total'] }} $)',
        align: 'left'
    },
    subtitle: {
        text: '',
        align: 'left'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    yAxis: {
        labels: {
            format: '{value}%'
        },
        title: {
            enabled: false
        }
    },
    tooltip: {
        pointFormat: '<b>{point.percentage:.1f}%</b> ({point.y:,.1f} $)<br/>',
        split: true
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [
            {% for item in monthly_spendings['spendings'] %}
                {
                    name: '{{ item['category'] }}',
                    y: {{ item['total_amount'] }},
                },
            {% endfor %}
        ]
    }]
});

</script>

<div id="container-evolution">

</div>

<script>
    Highcharts.chart('container-evolution', {
    chart: {
        type: 'area'
    },
    title: {
        useHTML: true,
        text: 'Spendings evolution over time',
        align: 'left'
    },
    subtitle: {
        text: '',
        align: 'left'
    },
    accessibility: {
        point: {
            valueDescriptionFormat: '<b>{point.percentage:.1f}%</b> ({point.y:,.1f} $)<br/>'
        }
    },
    xAxis: {
        type: 'datetime',
        tickInterval: 30 * 24 * 3600 * 1000,
        dateTimeLabelFormats: {
            month: '%b %Y'
        }
    },
    yAxis: {
        title: {
            text: 'Values'
        }
    },
    series: [
        {% for category, values in evolution_spendings.items() %}
            {
                type: 'area',
                name: '{{ category }}',
                data: [
                        {% for value in values %}
                            [Date.UTC({{ value['year'] }}, {{ value['month'] }}, 1), {{ value['total_amount'] }}],
                        {% endfor %}
                    ]
            },
        {% endfor %}
    ],
    tooltip: {
        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.percentage:.1f}%</b> ({point.y:,.1f} $)<br/>',
        split: true
    },
    plotOptions: {
        series: {
        },
        area: {
            stacking: 'percent',
            marker: {
                enabled: false
            }
        }
    }
});

</script>

{% endblock %}
